

{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>

{% bootstrap_messages %}
{{ form.errors }}
{{ form.non_field_errors }}
<html lang="en">
<body style="background-color:rgb(227, 238, 253);">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a href="/lables/"><img src="https://gray-wvir-prod.cdn.arcpublishing.com/resizer/zS0MUjYm8Syl4nHNHxkjTJR4yK0=/1200x675/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/4DN5UPSSSZE3JCOIV72ZKSXDZM.png" width="60" alt="" class="d-inline-block align-middle mr-2"></a>
      <a class="navbar-brand" style="color:#E57200; font-size:25px">Labeling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/labels/">My Labels</a>
              </li>
          <li class="nav-item active">
            <a class="nav-link" href="/labels/about/">About</a>
          </li>
        </ul>
      </div>
      <div class="nav-item dropdown">
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <center><a href="/logout" style="text-decoration:none;">Logout</a></center>
        </div>
      </div>
        </nav>
<head>
  <style>
    .dropdown-menu {
    min-width: 82px !important;
}
  </style>
    <div class="card text-white bg-secondary mb-3" style="padding:20px; background-color:rgb(227, 238, 253);" >
      <br><br><br>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <h1 style="background-color:#E57200; color: #0d3c65;"><center>Welcome!</center></h1>
    <h3><center>Here you can <a href='/labels/submit/'>create</a> your own labels.</center></h3>
    </div>
        </head>


<body>
<div></div>
<div><h6 style="color: #0d3c65;"><center>On this website, you can find Labeling informatin. <br>You can also add, rename, or delete your own labels!</center></h6></div>

<div class="row mx-sm-5 float-md-left" style="display: inline-block;">
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650303859/labeling_rh2hul.png" class="rounded  float-md-left" style="width:100%; border: 5px solid #E57200; display: inline-block;">
</figure>
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>Submit Your Own Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650156187/submit_labeling_gymi4i.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
<figure class="rounded mx-sm-0 float-md-left" style="display: inline-block;">
  <figcaption>View Labeling!</figcaption>
  <img src="https://res.cloudinary.com/jack1109/image/upload/v1650303756/label_detail_vq1dfy.png" class="rounded  float-md-left" style="width:100%; height:31%;border: 5px solid #E57200; display: inline-block;">
</div>
<div style="width:33%;display: inline-block;">
</div>
</div>


<head>
  <br><br><br><br><br><br><br><br><br>
	<h5 style="color: #0d3c65;"><center>This website was created by Haowen Xu, student at University of Virginia.
	</center></h5>
</head>


</body><center>

</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<div>
  <footer class="fixed-bottom" >
    <center><div style="font-size:20px;" style="color:black;" style="background-color: black">
      © 2022 Copyright: Jack's Labeling Project
    </div></center>
  </footer>
</div>
</html>
<!-- Minified CSS and JS -->
<link   rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>
